@import "../../index.sass"

.forecast-form
  width: 100%
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  padding: 2rem 0 1rem 0

  select
    height: 30px
    width: 300px
    font-weight: 600
    border-radius: $border-radius

    .default-option
      display: none

.error, .loading
  font-weight: 600
  display: flex
  justify-content: center
  align-items: center

.error
  color: red

.loading
  color: $base-color

.forecast-container
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  width: 900px
  height: 230px
  border-radius: $border-radius
  margin: 0 auto 2rem auto
  @include mobile
    flex-direction: column
    width: 300px
    height: 100%
    padding-bottom: 2rem

  .inner-forecast-container
    width: 600px
    display: flex
    height: 230px
    overflow-x: scroll
    position: relative
    border-radius: 0 $border-radius $border-radius 0
    @include mobile
      border-radius: 0 0 $border-radius $border-radius
      flex-direction: column
      width: 300px
      margin-top: 0
      overflow: initial

    .scroll-arrows
      position: sticky
      width: 0
      height: 0
      top: calc(50% - 12px)
      color: white
      font-weight: 900
      @include mobile
        display: none

    .scroll-left
      left: 5px

    .scroll-right
      right: 18px
      margin-left: -18px

.disable-scrollbars
  scrollbar-width: none /* Firefox */
  -ms-overflow-style: none  /* IE 10+ */

  &::-webkit-scrollbar
    background: transparent /* Chrome/Safari/Webkit */
    width: 0
    height: 0