@import "../../styles/base.sass"

.hourly-forecast-container
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  width: 900px
  background: $base-color
  margin: auto
  border-radius: $border-radius
  @include mobile
    width: 300px

  .side-titles, .inner-container
    width: 100px
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: flex-start
    color: white
    padding: 0 1rem
    border-right: 1px solid darkgray
    font-size: 0.9rem
    @include mobile
      width: 100%

    > div
      height: 1.2rem
      padding: 0.5rem 0

    .hour
      font-weight: 600
      height: 1.2rem
      padding-bottom: 0
      color: orange

    .date
      padding-top: 0
      font-size: 0.8rem

    .icon
      height: 4rem

  .side-titles
    @include mobile
      display: none

  .hourly-forecast
    width: 800px
    display: flex
    flex-direction: row
    justify-content: flex-start
    overflow-x: scroll
    @include mobile
      margin: auto
      flex-direction: column

    .inner-container
      border-right: 1px solid darkgray
      align-items: center
      margin: 0.5rem 0
      @include mobile
        border-bottom: 1px solid orange
        padding-bottom: 1rem

      > div
        width: 100%
        display: flex
        justify-content: center
        align-items: center

        img
          width: 100%
          @include mobile
            width: 100px

    .inner-container:last-of-type
      border: none