html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.daily-forecast {
  display: flex;
  flex-direction: column;
  flex: none;
  align-items: center;
  height: 100%;
  width: 120px;
  background: #34313B;
}
@media (max-width: 959.5px) {
  .daily-forecast {
    width: 250px;
    height: 220px;
    margin: auto;
    padding: 0;
  }
}
.daily-forecast > div {
  margin: auto;
  height: 85%;
  width: 100%;
}
.daily-forecast > div .date {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  text-align: center;
  color: white;
}
.daily-forecast > div .date .day-name {
  font-weight: 600;
  font-size: 0.9rem;
}
.daily-forecast > div .more-info {
  display: none;
  background: #27272f;
  position: absolute;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin: -30px 0 0 -20px;
  width: 150px;
}
@media (max-width: 959.5px) {
  .daily-forecast > div .more-info {
    margin-left: 42px;
  }
}
.daily-forecast > div .more-info div {
  color: white;
}
.daily-forecast > div .more-info > div:first-of-type {
  padding-bottom: 1rem;
  font-weight: 600;
  margin-top: -0.5rem;
}
.daily-forecast > div .more-info > div:not(:first-of-type) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.2rem 1rem;
  font-size: 0.9rem;
}
.daily-forecast > div .more-info > div:not(:first-of-type) > div:last-of-type {
  color: orange;
  font-size: 0.8rem;
}
.daily-forecast > div .tooltip {
  text-align: center;
  padding-top: 0.2rem;
}
.daily-forecast > div .tooltip:hover {
  cursor: pointer;
}
.daily-forecast > div .tooltip:hover .more-info {
  display: flex;
}
.daily-forecast > div .icon {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 70px;
  margin: auto;
}
.daily-forecast > div .temperature, .daily-forecast > div .status {
  text-align: center;
  color: white;
  font-size: 0.9rem;
  padding-top: 0.2rem;
}

@media (max-width: 959.5px) {
  .daily-forecast:not(:last-of-type) {
    border-bottom: 1px solid black;
  }
}

@media (min-width: 960px) {
  .daily-forecast:nth-child(2) .more-info {
    margin-left: 0;
  }
}

@media (min-width: 960px) {
  .daily-forecast:nth-child(9) .more-info {
    margin-left: -50px;
  }
}

.daily-forecast:last-of-type {
  border-radius: 0 5px 5px 0;
}

.current-weather {
  width: 300px;
  height: 270px;
  border-radius: 5px 5px 0 5px;
  background: #27272f;
}
@media (min-width: 960px) {
  .current-weather {
    margin-bottom: 40px;
  }
}
.current-weather > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.current-weather > div .current-title {
  font-weight: 600;
  font-size: 1.2rem;
}
.current-weather > div .current-icon-container {
  width: 60%;
  margin: auto;
  justify-content: space-around;
}
.current-weather > div .current-icon-container img {
  width: 90px;
  height: 90px;
}
.current-weather > div .current-icon-container span {
  font-size: 2rem;
  font-weight: 600;
  color: orange;
}
.current-weather > div .status {
  font-size: 1.5rem;
}
.current-weather > div .feels-like {
  font-size: 0.9rem;
  padding: 0.2rem 0;
}
.current-weather > div .bottom-info {
  font-size: 0.8rem;
  padding-top: 0.5rem;
}
.current-weather > div .bottom-info > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.current-weather > div .bottom-info > div img {
  width: 25px;
}
.current-weather > div .bottom-info > div span {
  font-weight: 600;
  text-align: center;
}

/*# sourceMappingURL=daily-forecast.css.map */
